.footer {
    background-color: #312F38;
    color: #FFFFFF;
    padding: 8rem 0;

    &__content {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 2.6rem;
        margin-right: 2rem;
    }

    &__copyright {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__text {
        font-size: 1.3rem;
    }

    &__list {
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;

        .footer__nav-item:not(:last-child) {
            margin-right: 3.4rem;
        }
    }
}
